*{
    box-sizing: border-box;
}

header > nav{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

header{
    height: 600px;
    max-height: 60%,;
    background: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url("https://images.unsplash.com/photo-1501504905252-473c47e087f8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80") #0097A7;
    background-size: cover;
    background-position: center 20% ;
    background-repeat: no-repeat;

    display: flex;

    align-items: center;
    justify-items: center;

    color: #fff;
}

section, footer {
    padding: 70px 0;
    scroll-margin: 50px;
}
.section-title{
    font-weight: 300;
    margin-bottom: 15px;
    text-align: center;
}

.cards{
    padding: 1px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}
.card{
    width: 40%;
    min-width: 300px;
    /* padding: 5px; */
    margin: 10px 5px;
}

.card .card-title.h5{
    margin-bottom: 0;
}

.questions{
    background-color: #d1d0d0;
}

.contact .form{
    display: block;
    margin: auto;
    width: 80%;
    max-width: 600px;
    padding: 25px;

    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.contact .form:hover, 
.contact .form:focus,
.contact .form *:focus  .form{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

footer{
    background-color: #000;
    color: #fff;
    padding-bottom: 20px;
    padding: 10px 5%;
}
footer .items h3, footer .items h1{
    margin: 0;
}
footer .items{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;

    margin-bottom: 40px;
    max-width: 1300px;
    width: fit-content;
    margin: auto;
}

footer .items > h1{
    margin: 25px;
}

footer .items > div {
    margin: 25px;
}

footer .items > div h3{
    text-align: left;
}

footer .items a{
    display: block;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    margin: 8px 0;
}
footer .items .icon{
    font-size: 30px;
}
    
footer .items > h1{
    align-self: center;
}